<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>Strona glowna</h1>
{%for cafe in all_cafes%}
<li>cafe.id {{cafe.id}} / cafe.name {{cafe.name}} / cafe.map_url {{cafe.map_url}}/ cafe.img_url {{cafe.img_url}}/
    cafe.location {{cafe.location}}/ cafe.has_sockets {{cafe.has_sockets}}/ cafe.has_wifi {{cafe.has_wifi}} /
    cafe.has_toilet {{cafe.has_toilet}} / cafe.can_take_calls {{cafe.can_take_calls}} / cafe.seats {{cafe.seats}} /
    cafe.coffee_price {{cafe.coffee_price}} <a href={{url_for('show_cafe',cafe_id=cafe.id)}}>Zobacz</a></li>
{%endfor%}


<a href={{url_for('add_cafe')}}>dodaj kawiarnie</a>

</body>
</html>