{% extends 'base.html' %}
{% block title%} All cafes {%endblock%}


{%block content%}

<div class="container">


    <h1 class="display-1 text-center my-5">☕️ Coffee & Wifi 💻</h1>
    <p class="lead text-center">This is a collection of cafes where you can sit and work.</p>
    <hr class="my-4">

    {%if all_cafes %}

    <table class="table table-secondary table-striped table-hover table-bordered ">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cafe name:</th>
            <th scope="col">Google map link:</th>
            <th scope="col">Image of cafe:</th>
            <th scope="col">Location:</th>
            <th scope="col">Sockets?</th>
            <th scope="col">WiFi?</th>
            <th scope="col">Toilet?</th>
            <th scope="col">Take calls?</th>
            <th scope="col">Seats:</th>
            <th scope="col">Coffee price:</th>
            <th scope="col" class="text-center">#</th>

        </tr>
        </thead>
        <tbody class="table-group-divider">
        {%for cafe in all_cafes%}
        <tr class="text-center">
            <th scope="row">{{cafe.id}}</th>
            <td>{{cafe.name}}</td>
            <td><a href="{{cafe.map_url}}" target="_blank">LINK</a></td>
            <td><a href="{{cafe.img_url}}" target="_blank">LINK</a></td>
            <td>{{cafe.location}}</td>
            <td>{{cafe.has_sockets}}</td>
            <td>{{cafe.has_wifi}}</td>
            <td>{{cafe.has_toilet}}</td>
            <td>{{cafe.can_take_calls}}</td>
            <td>{{cafe.seats}}</td>
            <td>{{cafe.coffee_price}}</td>
            <td><a href={{url_for('show_cafe',cafe_id=cafe.id)}} class="btn btn-warning">Show</a></td>
        </tr>
        {%endfor%}
        </tbody>
    </table>


    {%endif%}
    <hr class="my-4">
    <a href={{url_for('start')}} class="btn btn-dark">Main page!</a>
    <a href={{url_for('add_cafe')}} class="btn btn-dark">Add new cafe!</a>

</div>
{%endblock%}