<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>Kawiarnia</h1>
<p>cafe id {{cafe.id}}</p>
<p>cafe name {{cafe.name}}</p>
<p>coffee price {{cafe.coffee_price}}</p>
<p>location {{cafe.location}}</p>
<a href={{url_for('edit_cafe',cafe_id=cafe.id)}}>edytuj kawiarnie</a>
<a href={{url_for('home')}}>wszystkie kawiarnie</a>
<h2>Dodaj komentarz</h2>
{% from 'bootstrap5/form.html' import render_form%}

{{ render_form(comment_form) }}
{{ ckeditor.load() }}
<h2>Komentarze</h2>
{%if comments%}
{%for comment in comments%}
<p>{{comment.author}}  {{comment.date}}</p>
{{comment.text|safe}}
{%endfor%}
{%endif%}

</body>
</html>