{% extends 'base.html' %}
{% block title%} Cafe: {{cafe.name}} {%endblock%}


{%block content%}
<div class="container my-5">

    <h1 class="display-3">Cafe : {{cafe.name}}</h1>
    <p class="lead">Google map link: <a href="{{cafe.map_url}}" target="_blank">LINK</a> </p>
    <p class="lead">Image: <a href="{{cafe.img_url}}" target="_blank">LINK</a> </p>
    <p class="lead">Location: {{cafe.location}}</p>
    <p class="lead">Sockets: {{cafe.has_sockets}}</p>
    <p class="lead">WiFi: {{cafe.has_wifi}}</p>
    <p class="lead">Toilet: {{cafe.has_toilet}}</p>
    <p class="lead">Take calls: {{cafe.can_take_calls}}</p>
    <p class="lead">Seats: {{cafe.seats}}</p>
    <p class="lead">Coffe Price: {{cafe.coffee_price}}</p>
    <br>
    <a href={{url_for('edit_cafe',cafe_id=cafe.id)}} class="btn btn-warning">Edit cafe!</a>

    <a href={{url_for('home')}} class="btn btn-warning">All cafes!</a>
    <hr class="my-4">
    <h3>Add comment:</h3>
    {% from 'bootstrap5/form.html' import render_form%}

    {{ render_form(comment_form,novalidate=True) }}
    {{ ckeditor.load() }}
    <hr class="my-4">
    <h3>All comments:</h3>
    {%if cafe.comments%}
    {%for comment in cafe.comments%}
    <p>Author: {{comment.author}}  <br>  date: {{comment.date}}</p>
    {{comment.text|safe}}
        <hr>
    {%endfor%}
    {%endif%}
</div>
{%endblock%}

